# Bender
# AKA an Ender 5 Pro

[include client_macros.cfg]
[include shell_command.cfg]
[include macros.cfg]
[display_status]
[pause_resume]

[gcode_shell_command PHONE_HOME]
command: sh /home/pi/moonraker-telegram/scripts/telegram.sh "this is a message from your printer" "0"
timeout: 2.
verbose: false

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 220
position_max: 220
homing_speed: 30

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 220
position_max: 220
homing_speed: 30

[stepper_z]
step_pin: PB6
dir_pin: PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 4
position_min: -3
position_max: 300
endstop_pin: probe:z_virtual_endstop

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 23.080
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
pressure_advance = 0.0775
#control: pid
#pid_Kp: 30.25
#pid_Ki: 2.59
#pid_Kd: 88.50
min_temp: 0
max_temp: 270

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 148.86
#pid_Ki: 23.51
#pid_Kd: 628.38
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[probe]
pin = !PA7
x_offset: -44.0
y_offset: -10.0
#z_offset: 6
speed: 35.0

[bed_mesh]
speed: 100
horizontal_move_z: 7
mesh_min: 0,0
mesh_max: 176, 200
probe_count: 6,6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.765
#*# pid_ki = 1.525
#*# pid_kd = 117.431
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.000
#*# pid_ki = 1.391
#*# pid_kd = 831.301
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.367500, -0.260000, -0.111250, -0.071250, -0.026250, -0.098750
#*# 	-0.256250, -0.157500, -0.083750, -0.081250, -0.041250, -0.030000
#*# 	-0.225000, -0.122500, -0.073750, -0.071250, -0.042500, -0.058750
#*# 	-0.236250, -0.145000, -0.082500, -0.075000, -0.063750, -0.080000
#*# 	-0.251250, -0.171250, -0.113750, -0.125000, -0.113750, -0.137500
#*# 	-0.261250, -0.205000, -0.147500, -0.143750, -0.120000, -0.146250
#*# tension = 0.2
#*# min_x = 0.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 6
#*# max_y = 200.0
#*# mesh_x_pps = 2
#*# max_x = 176.0
#*#
#*# [probe]
#*# z_offset = 4.500
